@charset "utf-8";
/* CSS Document */
/* 头部 */
html {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: auto;
    overflow-x: hidden;
}

body {
    background-color: rgb(245, 245, 245);
}

/*ul;li{*/
/*	list-style-type: none;*/
/*}*/
/*a;a:hover{*/
/*	text-decoration:none;*/
/*}*/
a, a:hover {
    text-decoration: none;
}

.nav-logo {
    width: 200px;
    height: 70px;
}


/*模块tag标签*/
.title-tag {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
}

.title-tag h3 {
    color: #648649;
}

.title-tag h3 span {
    font-size: xx-large;
    color: #8da27b;
}

.title-tag h3 i {
    color: #dec3a5;
    font-size: 1em;
}

.title-tag h3 i em {
    color: #dec3a5;
    font-size: 0.2em;
}